@model IEnumerable<HR.Data.Entities.Employee>

@{
    ViewBag.Title = "ListEmployee";
}

<h2>ListEmployee</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td></td>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCard)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Morning", "MorningRollUp", "Department", new { empId = item.Id, id = item.DepartmentId }, null)
                @Html.ActionLink("Afternoon", "AfternoonRollUp", "Department", new { empId = item.Id, id = item.DepartmentId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCard)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Employee", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Employee", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Employee", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
